@import '../../styles/colors.scss';

.form-status {
  align-items: center;
  display: flex;
  flex-direction: column;

  .spinner {
    margin-top: 30px;
  }
  
  .error {
    color: $primary-dark;
    margin-top: 30px;
  }
}