@import '../../components/footer/footer-styles.scss';
@import '../../components/form-status/form-status-styles.scss';
@import '../../components/input/input-styles.scss';
@import '../../components/login-header/login-header-styles.scss';
@import '../../components/spinner/spinner-styles.scss';

.login-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .form {
    align-self: center;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 1px 3px -1px $black;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 400px;
    margin: 40px 0;
  }

  h2 {
    color: $primary-dark;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }  

  button {
    margin-top: 32px;
  }

  .link {
    color: $primary;
    margin-top: 16px;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
  }
}