$black: #000;
$white: #fff;
$background: #f2f2f2;
$disabled-background: #ccc;
$disabled-color: #666;
$primary: #009ee3;
$primary-dark: #0b105b;
$primary-light: rgba(71,154,209,.15);
$success: #00a859;
$error: #ff0000;