@import './colors.scss';

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: $background;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border-radius: 4px;
  border: 1px solid $primary-light;
  line-height: 40px;
  padding: 0 40px 0 8px;

  &:focus {
    outline-color: $primary-light;
  }
}

button {
  background-color: $primary;
  border-radius: 8px;
  border: 0;
  color: $white;
  font-size: 16px;
  line-height: 60px;

  &:hover {
    opacity: 0.9;
  }
}