@import '../../styles/colors.scss';

.header-wrap {
  align-items: center;
  background-color: $primary;
  border-top: 40px solid $primary-dark;
  display: flex;
  justify-content: center;

  h1 {
    color: $white;
    margin: 40px 0;
  }
}